<div id="site-block">
  <div class="site-logo">
    <%= image_tag "anthro/Anthropologie_HeroImage.jpg", :alt => "Anthropologie" %>
  </div>

  <ul class="site-registries group">
    <li class="site-registry">
      <%= link_to (image_tag "anthro/Anthropologie_BedandBath.jpg", :alt => "Bed And Bath"), registry_path(1238) %>
    </li>
    <li class="site-registry">
      <%= link_to (image_tag "anthro/Anthropologie_LivingRoom.jpg", :alt => "Living Room"), registry_path(1240) %>
    </li>
    <li class="site-registry">
      <%= link_to (image_tag "anthro/Anthropologie_Kitchen.jpg", :alt => "Kitchen"), registry_path(1239) %>
    </li>
    <li class="site-registry-right">
      <%= link_to (image_tag "anthro/Anthropologie_DiningRoom.jpg", :alt => "Dining Room"), registry_path(1237) %>
    </li>
  </ul>
</div>

