<% content_for :title do %>
  Forgot Partner Password | Knack Registry
<% end %>
<% content_for :head do %>
        <%= stylesheet_link_tag "/stylesheets/Pages/Login.css" %>
        <%= javascript_include_tag "/javascripts/jquery.form.js"  %>
<%end%>
  <div class="div-container-login">
    <% if @sended.blank? %>
      <div class="pageName">
        Forgot your password
      </div>


       <%form_tag :controller => :partner, :action => :forgotpassword do%>

        <div class="div-block">
         <div class="editor-label">
           <label for="email">Type your email address</label>
         </div>

          <div class="editor-field">
            <%=text_field :partner, :email-%>

          </div>

          <div class="editor-error">
            <%= error_message_on :partner, :email, :prepend_text => StaticDataUtilities.get_prepare_error_message%>
          </div>
        </div>

          <div class="textInfo">
            We will send you an email with new password
          </div>

              <div id="div-btn-forgot">
                <input type="Submit" value="Submit"/>
              </div>
              <%end%>


    <% else %>
      <% if @sended.to_i == 1 %>
        <span>Your new password sent to <%= @partner.Email %></span>
      <% else %>
        <span>User to Recover password sent to you via email <%= @partner.Email %></span>
      <% end %>
    <% end %>


  </div>
