<div class="header-text addtool">Instructions for Internet Explorer Users:</div>
<div class="how-it-works">
  <div class="item-text">
    1. Right click the 'Add to Knack Registry' link below and select 'Add to Favorites'
  </div>
  <div class="links">
    <a href = "javascript:function%20knackGetParams(){return%20'<%= @registrant.id %>_<%= @registrant.State_ID %>_<%= @registrant.City %>_<%= @registrant.ZIP %>';}if(document.getElementById){var%20knack_x=document.getElementsByTagName('head').item(0);var%20knack_o=document.createElement('script');if(typeof(knack_o)!='object')%20knack_o=document.standardCreateElement('script');knack_o.setAttribute('src','<%= ::APP_CONFIG['base_url'] %>javascripts/bookmarklet/knackwind.js');knack_o.setAttribute('type','text/javascript');knack_x.appendChild(knack_o);}void%200;">Add to Knack Registry</a>
  </div>

  <div class="item-text">
    2. If you receive a security alert, click Yes to dismiss it.
  </div>
  <div class="item-text">
    3. In the 'Add to Favorites' window, select the Links folder (IE7) or Favorites Bar folder (IE8 & IE9) and click Ok.
  </div>
  <%= image_tag "/images/toolbar/ie4.png", :alt => 'Internet Explorer' %>
  <div class="item-text">
    4. The 'Add to Knack Registry' button will appear in the toolbar.
  </div>
  <%= image_tag "/images/toolbar/ie5.png", :alt => 'Internet Explorer' %>
  <%= render "toolbar_use" %>
</div>