<% content_for :title do %>
    Forgot Password | Knack Registry
<% end %>
<% content_for :head do %>
    <%= stylesheet_link_tag "/stylesheets/Pages/Login.css" %>
    <%= javascript_include_tag "/javascripts/jquery.form.js"  %>
<%end%>
<div class="div-container-login">
  <% if @email_sent.blank? %>
      <div class="pageName">
        Forgot your password
      </div>


      <%= form_tag :controller => :registrant, :action => :forgotpassword do%>

          <div class="div-block">
            <div class="editor-label">
              <label for="email">Type your email address</label>
            </div>

            <div class="editor-field">
              <%=text_field :registrant, 'Email'-%>

            </div>

          </div>

          <div class="div-block">
            <span class="formError"><%= @err_email %></span>
          </div>
          <div class="textInfo">
            We will send you an email with instructions on resetting your password.
          </div>

          <div id="div-btn-forgot">
            <%= submit_tag "Submit" %>
          </div>
      <%end%>


  <% else %>
      <% if @email_sent.to_i == 1 %>
          <span>Your Password has been reset, and the new password has be sent to <%= @registrant.Email %></span>
      <% else %>
          <span>Instructions for resetting your password have been sent to <%= @registrant.Email %></span>
      <% end %>
  <% end %>


</div>
