<div class="div-link-menu">
  <div class="link-menu <%="current-page" if selected == "What"%>"><a href="/info/aboutus">What is Knack?</a></div>
  <div class="link-menu <%="current-page" if selected == "How"%>"><a href="/info/tour">How Does Knack Work?</a></div>
  <div class="link-menu <%="current-page" if selected == "Fees"%>"><a href="/info/fees">What Does it Cost?</a></div>
  <div class="link-menu <%="current-page" if selected == "FAQ"%>"><a href="/info/helppage">Frequently Asked Questions</a></div>
  <div class="link-menu <%="current-page" if selected == "Contact"%>"><a href="/info/contact">Contact Us</a></div>
  <div class="link-menu <%="current-page" if selected == "Who"%>"><a href="/info/whoisknack">Who Runs Knack?</a></div>
</div>
